@import "vendor/_reset";
@import "vendor/_spreadhead";
@import "_settings";
@import "_utilities";

.js .js-hide{ display: none; }

html, body, #main{ min-height: 100%; height: 100%; }

#map{ min-height: 500px; min-width: 700px; height: 100%; width: 100%; }

@import "vendor/_formtastic";
@import "_formtastic_changes";
