
<div id="left">
</div>

<%= @map.div %>

<div id="right">
	<ul id="submissions">
		<% for submission in @submissions %>
		  <li><%= link_to_function submission.name, '' %></li>
		<% end %>
	</ul>
</div>


