
<% map_javascripts @map %>

<div id="left">
</div>

<%= @map.div %>

<div id="right">
	<ul id="submissions">
		<% for submission in @submissions %>
		  <li><%= image_tag submission.gravatar_url(:size => 16) %> <%= link_to_function submission.name, '' %></li>
		<% end %>
	</ul>
</div>


