<div class="container">
<%= title "Thanks for your submission!" %>

<p>If you made a mistake don't worry: you can still <%= link_to 'edit it', edit_submission_path(@submission) %>.</p>
</div>
<!-- <%= session[:submission_ids].inspect %> -->